<div class="text">
	<div class="top-text">
		<p>Horchata / <span class="pink">Rice water </span>Tamarindo / <span class="pink">Tamarind</p></p>
		<p>Melon / <span class="pink">Cantaloupe </span>Jamaica / <span class="pink">Hibiscus flower</span></p>
		<p><span>Medium </span>$1.49</p>
		<p><span>Large </span>$2.49</p>
	</div>

	<table>
		<tr>
			<td>Refresco de lata /<span class="pink">Soda Can</span></td>
			<td class="price">$0.85</td>
		</tr>
		<tr>
			<td>Soda de Botella /<span class="pink">Bottle pop</span></td>
			<td></td>
		</tr>
		<tr>
			<td><span>Sangria, Jarritos, Topochico</span></td>
			<td class="price">$1.49</td>
		</tr>
		<tr>
			<td><span>Coca-Cola or Pepsi</span></td>
			<td class="price">$1.75</td>
		</tr>
		<tr>
			<td>Cafe /<span class="pink">Coffee</span></td>
			<td class="price">$0.99</td>
		</tr>
		<tr>
			<td>Agua /<span class="pink">Bottle Water</span></td>
			<td class="price">$1.00</td>
		</tr>
		<tr>
			<td>Licuados /<span class="pink">Milkshakes</span><span>Large</span></td>
			<td class="price">$3.49</td>
		</tr>
		<tr>
			<td>Fresa<span class="pink">-Strawberry </span>Platano<span class="pink">-banana Chocolate</span><span> Medium</span></td>
			<td class="price">$2.49</td>
		</tr>
	</table>
</div>