<div class="image">
	<%= image_tag("burrito2.png", alt: "burrito") %>
</div>

<div class="text">
	<p>Carne Asada/<span>Steak </span>Pollo/<span>Chicken </span>Al Pastor/<span>Pork</span></p>
	<h3>$4.99</h3>

	<table>
		<tr>
			<td>Burrito Vegetariano/<span>Veggie Burrito</span></td>
			<td class="price">$4.99</td>
		</tr>
		<tr>
			<td><span>Beans, Cheese, Lettuce, tomato & sour cream</span></td>
			<td></td>
		</tr>
		<tr>
			<td>Burrito Especial con papas y una soda de lata</td>
			<td class="price">$5.99</td>
		</tr>
		<tr>
			<td><span>Burrito with your choice of above meats, fries and can pop</span></td>
			<td></td>
		</tr>
		<tr>
			<td>Burrito Dinner con arroz, frijoles y una soda de lata</td>
			<td class="price">$6.99</td>
		</tr>
		<tr>
			<td><span>Served with your choice of above meats, rice & beans and a can pop</span></td>
			<td></td>
		</tr>
		<tr>
			<td>Chimichanga/<span>Chicken, Steak or pork only</span></td>
			<td class="price">$4.99</td>
		</tr>
		<tr>
			<td><span>Served with lettuce, tomato, cheese, sour cream, guacamole & beans</span></td>
			<td></td>
		</tr>
		<tr>
			<td>Chimichanga Especial <span>con papas y una soda de lata</span></td>
			<td class="price">$5.99</td>
		</tr>
		<tr>
			<td><span>Served with lettuce, tomato, cheese, sour cream, guacamole, fries & can pop</span></td>
			<td></td>
		</tr>
		<tr>
			<td>Chimichanga Dinner <span>con arroz y frijoles y soda de lata</span></td>
			<td class="price">$6.99</td>
		</tr>
		<tr>
			<td></span>Served with lettuce, tomato, cheese, sour cream, guacamole, fries & can pop</span></td>
			<td></td>
		</tr>
	</table>
</div>