<div class="image">
	<%= image_tag("caldo_res2.png", alt: "caldo de res") %>
</div>

<div class="text">
	<table>
		<tr>
			<td>Caldo de Res <span class="pink">Beef Soup</span></td>
			<td class="price">$5.99</td>
		</tr>
		<tr>
			<td>Caldo de Camaron <span class="pink"> Shrimp Soup</span></td>
			<td class="price">$7.99</td>
		</tr>
		<tr>
			<td>Coctel de Camaron <span class="pink"> Shrimp cocktail</span></td>
			<td class="price">$7.99</td>
		</tr>
		<tr>
			<td>Caldo de Pollo <span class="pink"> Chicken Soup</span></td>
			<td class="price">$5.99</td>
		</tr>
	</table>
</div>