<div class="image">
	<%= image_tag("cubeta2.png", alt: "cubeta de cervezas") %>
</div>

<div class="text">
	<p>importadas y del pais /<span class="pink">Home and imported beer</span></p>
	<p>en botella /<span class="pink">Bottle beer</p>
	<p><ul><li>Modelo Especial</li><li>Negra Modelo</li><li>Sol</li></ul></p>
	<p><ul><li>XX Lager</li><li>Carta Blanca</li><li>Bohemia</li></ul></p>
	<p><ul><li>Pacifico</li><li>Tecate</li><li>Victoria</li><li>Corona</li></ul></p>
	<p>$3.99</p>
	<p><ul><li>Budweiser</li><li>Bud Light</li></ul></p>
	<p>$2.99</p>	
</div>