<div class="image">
	<%= image_tag("nachos2.png", alt: "nachos") %>
</div>

<div class="text">
	<table>
		<tr>
			<td>Chips con Salsa /<span>Chips with hot sauce</span></td>
			<td class="price">$3.99</td>
		</tr>
		<tr>
			<td>Chips con Queso /<span>Chips with cheese</span></td>
			<td class="price">$2.50</td>
		</tr>
		<tr>
			<td>Chips con Guacamole /<span>Chips with Guac</span></td>
			<td class="price">$4.99</td>
		</tr>
		<tr>
			<td>Nachos Chicos /<span>Small Nachos</span></td>
			<td class="price">$5.99</td>
		</tr>
		<tr>
			<td>Nachos con Bistek o Pollo</td>	
			<td class="price">$9.99</td>
		</tr>
	</table>
</div>