<div class="image">
	<%= image_tag("desayuno_mi_palenque2.png", alt: "desayuno mi palenque") %>
</div>

<div class="text">
	<table>
		<tr>
			<td>Desayuno Mi Palenque</td>
			<td class="price">$9.99</td>
		</tr>
		<tr>
			<td>3 Huevos <span>con jamon o Chorizo a la Mexicana</span></td>
			<td class="price">$5.99</td>
		</tr>
		<tr>
			<td>Chilaquiles Verdes o Rojos</td>
			<td></td>
		</tr>
		<tr>
			<td>con huevo <span>with eggs</span></td>
			<td class="price">$5.99</td>
		</tr>
		<tr>
			<td>con Carne <span>with meath</span></td>
			<td class="price">$7.99</td>
		</tr>
		<tr>
			<td>con huevo y carne <span>with meat & eggs</span></td>
			<td class="price">$9.99</td>
		</tr>	
	</table>
</div>