<div class="image">
	<%= image_tag("camaron_empanizado2.png", alt: "camaron empanizado") %>
</div>

<div class="text">
	<table>
		<tr>
			<td>Camarones Empanizados <span class="pink">Breaded Shrimp dinner</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Camarones al mojo de ajo <span class="pink">Breaded</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>	
			<td>Camarones a la Diabla <span class="pink">Shrimp in hot tomato sauce</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>	
			<td>Fajitas de Camaron <span class="pink">Shrimp fajitas</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>	
			<td>Huachinango <span class="small">al Mojo de Ajo a la Diabla o a la veracruzana </span></td>
			<td class="price">$14.99</td>
		</tr>
		<tr>
			<td><span class="pink">Red snapper in garlic sauce or Devil's or veracruzana Style</span></td>
			<td></td>
		</tr>	
		<tr>
			<td>Filete de Tilapia Empanizada <span class="pink">Breaded fillet of tilapia</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Filete de Tilapia a la Plancha <span class="pink">Fillet of tilapia</span></td>
			<td class="price">$10.99</td>
		</tr>
	</table>
</div>

