<div class="image">
	<%= image_tag("bistec_mexicana2.png", alt: "bistec a la mexicana") %>
</div>

<div class="text">
	<p>Servidos con arroz, frijoles y ensalada <span class="pink">Served with rice, beans & salad</span></p>

	<table>
		<tr>
			<td>Mi Palenque Especial</td>
			<td class="price">$12.99</td>
		</tr>
		<tr>
			<td>Pollo a la Parrilla <span>Grilled chicken</span></td>
			<td class="price">$12.99</td>
		</tr>
		<tr>
			<td>1/2 Pollo a la Parrilla <span>Half grilled chicken</span></td>
			<td class="price">$7.99</td>
		</tr>
		<tr>
			<td>Fajitas de Pollo o Bistec <span>Chicken or Steak</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Bistec a la Mexicana</td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Platillo de Carne Asada <span>Skirt Steak Dinner</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Platillo de Milanesa <span>Breaded steak dinner</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Platillo de Cecina <span>Marinated steak strips</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Chicharron en Salsa Verde<span>Pork skin</span></td>
			<td class="price">$10.99</td>
		<tr>
			<td>Bistec con Rajas y Queso</td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Pechuga de Pollo a la Mexicana</td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td><span>Chicken breast served in tomato sauce with onion and jalapeños</span></td>
			<td></td>
		</tr>
		<tr>
			<td>Pechuga de Pollo en Salsa Verde y Queso</td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Chiles Rellenos <span>2 stuffed Peppers</span></td>
			<td class="price">$8.99</td>
		</tr>
		<tr>
			<td>Guisado de puerco en Salsa Verde</td>
			<td class="price">$7.99</td>
		</tr>
		<tr>
			<td>3 Enchiladas en Salsa Verde o Roja</td>
			<td class="price">$7.99</td>
		</tr>
		<tr>
			<td>3 Flautas Especial con Arroz y Frijoles</td>
			<td class="price">$6.99</td>
		</tr>
		<tr>
			<td>Bistec en chile de arbol <span>Sliced steak in chile de arbol sauce</span></td>
			<td class="price">$10.99</td>
		</tr>
		<tr>
			<td>Pollo en Mole poblano <span>Chicken in poblano mole sauce</span></td>
			<td class="price">$7.99</td>
		</tr>
		<tr>
			<td>Carne Zamora</td>
			<td class="price">$12.99</td>
		</tr>
	</table>
</div>