<div class="image">
	<%= image_tag("quesadilla2.png", alt: "quesadilla") %>
</div>

<div class="text">
	<table>
		<tr>
			<td>Huitlacoche, Champiñon, Flor de Calabaza
			<span class="pink">corn fungus, Mushrooms, squash blossom</span></td>
			<td class="price">$3.99</td>
		</tr>
		<tr>
			<td>O la carne de su preferencia <span class="pink">your choice of meat</span></td>
			<td class="price">$4.99</td>
		</tr>	
	</table>
</div>