<div class="text">
	<table>
		<tr>
			<td>Hamburguesa con Papas Fritas</td>
			<td class="price">$3.50</td>
		</tr>
		<tr>
			<td><span class="pink">Cheese burger with fries</span></td>
			<td></td>
		</tr>
		<tr>
			<td>Hot Dog</td>
			<td class="price">$1.50</td>
		</tr>
	</table>
</div>