<div class="image">
	<%= image_tag("quesadilla2.png", alt: "quesadilla") %>
</div>

<div class="text">
	<table>
		<tr>
			<td>Frijoles/<span class="pink">Beans</span></td>
			<td class="price">$1.99</td>
		</tr>
		<tr>
			<td>Arroz/<span class="pink">Rice</span></td>
			<td class="price">$1.99</td>
		</tr>
		<tr>
			<td>Cebollitas Asadas/<span class="pink">Grilled onions</span></td>
			<td class="price">$2.49</td>
		</tr>
		<tr>
			<td>Papas Fritas/<span class="pink">Fries</span></td>
			<td class="price">$1.99</td>
		</tr>
		<tr>
			<td>Papas Fritas con Queso/<span class="pink">Fries with Cheese</span></td>
			<td class="price">$2.99</td>
		</tr>
		<tr>
			<td>1 Quesadilla Mediana</td>
			<td class="price">$1.99</td>
		</tr>
		<tr>
			<td>1 Quesadilla Mediana con Carne/<span class="pink">Quesadilla with Meat</span></td>
			<td class="price">$2.99</td>
		</tr>
		<tr>
			<td>1 Quesadilla grande/<span class="pink">Quesadilla</span></td>
			<td class="price">$4.99</td>
		</tr>
		<tr>
			<td>3 Flautas de Pollo/<span class="pink">3 Chicken flautas</span></td>
			<td class="price">$4.99</td>
		</tr>
		<tr>
			<td><span class="pink">Served with lettuce, tomato, cheese, sour cream and guacamole</span></td>
			<td></td>
		</tr>
		<tr>
			<td>6 Chicken Nuggets</td>
			<td class="price">$1.99</td>
		</tr>
		<tr>
			<td>6 Nuggets con Papas fritas</td>
			<td class="price">$3.99</td>
		</tr>
		<tr>
			<td><span class="pink">6 Chicken Nuggets with fries</span></td>
			<td></td>
		</tr>
	</table>
</div>