<div class="text">
	<table>
		<tr>
			<td><span>Carne Asada, Pollo, Al Pastor, Chicharron, Rajas, Frijoles con queso</span>
			<td class="price">$2.99</td>
		</tr>
		<tr>
			<td><span class="red">Steak, Chicken, Pork, Ham, pork skin, Slice Pepper, Beans and cheese</span></td>
			<td></td>			
		</tr>
		<tr>
			<td>Gordita Especial <span class="green">2 gorditas con arroz y frijoles </span></td><td class="price">$6.99</td>
		</tr>
		<tr>
			<td><span class="red">2 Gorditas with your choice of above meats served with rice and beans</span></td>
			<td></td>
		</tr>
	</table>
</div>