<div class="image">
	<%= image_tag("pastor2.png", alt: "al pastor") %>
</div>

<div class="text">
	<div class="left">
		<p>Pollo/<span>Chicken </span><span class="red">$1.79</span></p>
		<p>Al Pastor/<span>Pork</span></p>
		<p>Carne Asada/<span>Steak</span></p>
		<p>Chicharron/<span>Pork Skin</span></p>
		<p>Barbacoa/<span>Mexican BBQ</span></p>
		<p>Chorizo/<span>Mexican Sausage</span></p>
	</div>

	<div class="right">
		<p>Labio/<span>beef lip </span><span>$1.99</span></p>
		<p>Lengua/<span>Tongue</span></p>
		<p>Cabeza/<span>Cow Head</span></p>
		<p>Cecina/<span>Marinated Steak</span></p>
		<p>Chile Relleno/<span>Stuffed Pepper</span></p>
		<p>Al Carbon/<span>Charcoal Grilled Taco</span></p>
	</div>	

	<table>
		<tr>
			<td>Tripas/<span>Tripe</span></td>
			<td class="price">$1.99</td>
		</tr>
		<tr>
			<td>Taco Estilo Alambre</td>
			<td class="price">$1.99</td>
		</tr>
		<tr>
			<td><span class="red">Steak with green peppers, bacon, cheese and sour cream</span></td>
			<td></td>
		</tr>
		<tr>	
			<td>3 Tacos Especial con arroz y frijoles</td>
			<td class="price">$6.49</td>
		</tr>
		<tr>
			<td><span>3 Soft shell tacos filled with choice of meat served with rice and beans</span></td>
			<td></td>
		</tr>
	</table>
			
	<p><span>$1 Mas por Combinacion/$1 extra per combination</span></p>
	
</div>