<div class="text">
	<p class="pink">Includes: Beans, Cheese, Lettuce, tomato & sour cream</p>

	<table>
		<tr>
			<td>Carne Asada, Pollo, Al Pastor, Jamon, Chorizo, Milanesa</td>
			<td class="price">$4.49</td>
		</tr>
		<tr>
			<td><span>Steak, Chicken, Pork, Ham, Mexican Sausage, Breaded Steak</span></td>
			<td></td>
		</tr>
		<tr>
			<td>Torta de Cecina <span>Marinated steak sandwich</span></td>
			<td class="price">$5.49</td>
		</tr>
		<tr>
			<td>Torta Especial con papas y una soda de lata</td>
			<td class="price">$5.99</td>
		</tr>
		<tr>
			<td>Torta Dinner con arroz, frijoles y una soda de lata</td>
			<td class="price">$6.99</td>
		</tr>
		<tr>
			<td><span>Served with your choice of above meats, rice & beans and a can pop</span></td>
			<td></td>
		</tr>
	</table>
</div>