<div class="text">
	<p><span>Con frijoles, queso, lechuga, jitomate y crema</span></p>
	<p><span>Includes: Beans, Cheese, Lettuce, tomato & sour cream</span></p>
	<p class="red">$2.99</p>
	<p>Carne Asada/<span class="pink">Steak </span>Pollo/<span class="pink">Chicken </span>Al Pastor/<span class="pink">Pork</span></p>
	<p>Camaron/<span class="pink">Shrimp </span>Pescado/<span class="pink">Fish</span></p>
</div>