<div class="center hero-unit">
  <h1>Taqueria Mi Palenque</h1>

  <h2>
    Authentic Mexican Food
  </h2>

  <%= link_to "Check out our menu!", menu_path, class: "btn btn-large btn-primary" %>

  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        <%= image_tag("bistec_chile_arbol2.png", alt: "bistec de chile de arbol", 
			  title: "bistec de chile de arbol") %>
		<%= image_tag("bistec_mexicana2.png",    alt: "bistec a la Mexicana",
              title: "bistec a la Mexicana") %>
    </div>
  </div>

</div>