<div class="center hero-unit">
	<div class="delivery">	
		<p>Servicio a Domicilio / Delivery</p>
		<p>Orden minima $20.00</p>
	</div>

	<div class="contact">
		<p>12 W. North Ave.</p>
		<p>Northlake, IL 60164</p>
		<p>Tel: (708)562-6322</p>
	</div>

	<div class="hours">
		<p>Hours</p>
		<p>Mon-Thurs. 9am to 10pm</p>
		<p>Friday 9am to 12am</p>
		<p>Saturday 8am to 12am</p>
		<p>Sunday 8am to 11pm</p>
	</div>
</div>
